*.asset
*.txt
*.asset
*.txt
Packages/*
*Packages*
*Library*
*Logs*
*Temp*

*.dll
*.md
*.csproj
*.sln
*.vscode*
*.png
*.mat
*.log
*UserSettings*
tools/check_links.sh
!README.md
*ClientSimStorage*
*ClientSimStorage*
!Assets/Molecule
!Assets/Molecule/**
!Assets/Molecule/**/*.meta
!Assets/Scenes
!Assets/Scenes/**
!Assets/Scenes/**/*.meta
Assets/*
*Assets/TextMesh Pro*
*tools*
